* {
  margin: 0;
  padding: 0;
}

/* 导航 */

.header {
  background-color: #07cbc9;
}

.header a {
  display: block;
  text-decoration: none;
}

.header a:link, .header a:visited {
  color: #fff;
}

.header .big-box {
  width: 100%;
  height: 100px;
}

.header .big-box .logo {
  float: left;
  margin-top: 26px;
  margin-left: 120px;
}

.header .big-box .logo a img {
  width: 260px;
  height: 48px;
}

.header .big-box .menu {
  height: 100px;
  float: right;
}

.header .big-box .menu ul {
  margin-right: 50px;
}

.header .big-box .menu ul li {
  width: 80px;
  height: 100px;
  list-style-type: none;
  float: right;
  font: bold 15px/100px "Microsoft YaHei UI";
  color: #fff;
  text-align: center;
}

.header .big-box .menu ul li:hover {
  background-color: #000;
}

/* 主体 */
.main {
  weight: 100%;
  font-family: "Microsoft YaHei UI";
}

/* banner */
.main .banner .b-img {
  width: 100%;
  height: 800px;
}

.main .banner .b-img img {
  width: 100%;
  height: 800px;
  position: relative;
}

/* 遮罩层 */
.main .banner .topLayer {
  width: 100%;
  height: 800px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 100px;
  z-index: 1;
}

/* 表单 */
.main .banner .b-form form {
  width: 505px;
  position: absolute;
  top: 270px;
  left: 50%;
  margin-left: -240px;
  z-index: 2;
}

.main .banner .b-form form input {
  width: 500px;
  height: 59px;
  color: #fff;
  /* 透明色 */
  background-color: transparent;
  display: block;
  margin-bottom: 20px;
  border: 2px solid #888;
}

/* 获取焦点时改变边框颜色 */
.main .banner .b-form form input:focus {
  border-color: #07cbc9;
}

.main .banner .b-form form textarea {
  width: 500px;
  height: 160px;
  color: #fff;
  line-height: 60px;
  background-color: transparent;
  margin-bottom: 20px;
  border: 2px solid #888;
}

.main .banner .b-form form textarea:focus {
  border-color: #07cbc9;
}

.main .banner .b-form form .button {
  width: 150px;
  margin: 0 auto;
  color: #777;
}

.main .banner .b-form form .button:hover {
  background-color: #07cbc9;
  border: none;
  color: #fff;
}

.main .banner .b-form form .button:focus {
  outline: none;
}

/* ABOUT-上半部分 */
.main .about .about-top {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}

/* 同GALLERY样式 */
.main .title {
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.main .line {
  width: 40px;
  height: 2px;
  background-color: #07cbc9;
  margin: 20px 48%;
}

.main .word {
  width: 510px;
  height: 80px;
  margin: 0 auto;
  color: #7d7d7d;
  text-align: center;
  line-height: 1.5em;
}

.main .about .about-top .a-box {
  width: 1200px;
  height: 500px;
  margin-top: 20px;
  position: relative;
}

.main .about .about-top .a-box .left {
  position: absolute;
  z-index: 2;
}

.main .about .about-top .a-box .left .short-word {
  width: 250px;
  font-size: 35px;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 20px;
}

.main .about .about-top .a-box .left .l-box {
  position: absolute;
  z-index: 2;
}

.main .about .about-top .a-box .left .l-box .long-word {
  width: 320px;
  line-height: 1.5em;
  margin-top: 40px;
  margin-left: 80px;
  position: absolute;
  z-index: 2;
}

.main .about .about-top .a-box .left .l-box button {
  position: absolute;
  top: 180px;
  left: 80px;
  z-index: 2;
}

.main .about .about-top .a-box .left .l-box .bottomLayer {
  width: 380px;
  height: 280px;
  background-color: #fff;
  opacity: 0.5;
  border: 1px solid #999;
  position: absolute;
  top: 0px;
  left: 50px;
  z-index: 1;
}

/* ABOUT按钮样式相同 */
.main .about button {
  width: 110px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  background-color: #000;
  border-color: #000;
}

.main .about button:hover {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.main .about button:focus {
  outline: none;
  border-color: #000;
}

.main .about .about-top .a-box .middle {
  width: 650px;
  margin-left: 25%;
  float: left;
}

.main .about .about-top .a-box .middle img {
  width: 650px;
  height: 435px;
}

.main .about .about-top .a-box .right {
  width: 250px;
  float: left;
  text-align: center;
}

.main .about .about-top .a-box .right .r-box {
  width: 250px;
  height: 150px;
  border: 1px solid #07cbc9;
  margin-left: 40px;
  margin-bottom: 40px;
}

.main .about .about-top .a-box .right .num {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.main .about .about-top .a-box .right .line {
  margin: 20px 105px;
}

.main .about .about-top .a-box .right .r-word {
  font-size: 20px;
  color: #000;
}

/* ABOUT-下半部分 */
.main .about .about-bottom {
  width: 100%;
  /* margin-top: px; */
}

.main .about .about-bottom .eb {
  width: 25%;
  height: 400px;
  float: left;
}

.main .about .about-bottom .icon img {
  width: 100%;
  height: 400px;
}

.main .about .about-bottom .blue-box {
  background-color: #07cbc9;
}

.main .about .about-bottom .blue-box .item {
  line-height: 1.5em;
  margin-top: 20px;
  margin-left: 40px;
  color: #fff;
}

.main .about .about-bottom .blue-box .title {
  font-size: 28px;
  margin-top: 30px;
}

.main .about .about-bottom .blue-box .short-word {
  width: 360px;
  font-size: 18px;
}

.main .about .about-bottom .blue-box .long-word {
  width: 390px;
  font-size: 14px;
  color: #ddd;
}

.main .about .about-bottom .blue-box button {
  margin-top: 40px;
  margin-left: 180px;
}

.main .gallery {
  width: 1200px;
  height: 800px;
  background-color: #ccc;
}
